.my-masonry-grid {
  display: flex;
  width: 100%;
  margin-left: -16px; /* gutter size offset */
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}
/* Style for each grid item */
.my-masonry-grid_column > div {
  margin-bottom: 16px;
}
